{# empty Twig template #}
<!DOCTYPE html>
{% for thumb in thumbs %}
        
        {% block thumbsSize %}
            <div class="product-item col-lg-2 col-md-3 col-sm-3 col-ms-4 col-xs-6">
        {% endblock %}
        
            {# <a href="{{ BASE_URL }}goto/{{ thumb['id'] }}/" rel="nofollow" target="_blank"> #}
            <a  data-pushstate="1" data-target="#product-modal" data-remote="false" data-id="{{ thumb['id'] }}"
                href="{{ BASE_URL }}sku/{{ thumb['id'] }}-{{ thumb['title_url'] }}/" 
                title="{{ thumb['title']|e }}" 
                class="{{ isModalLink }}">  
            
                <div>
                    
                    {% block thumbsImage %}
                        <img class="product-thumb img-responsive img-rounded center-block hide-no-js" data-src="{{ STATIC_URL }}{{ thumb['thumb_path'] }}" alt="{{ thumb['title']|e }}" src="/img/spinner.gif" />
                    {% endblock %}
                    <noscript>
                        <style>.hide-no-js { display: none; }</style>
                        <img class="product-thumb img-responsive img-rounded center-block" src="{{ STATIC_URL }}{{ thumb['thumb_path'] }}" alt="{{ thumb['title'] }}" />
                    </noscript>
                </div>
                    
            </a>
            
            {% block inner %}
                    
            <div class="product-inner">
                
                {# <a href="{{ BASE_URL }}goto/{{ thumb['id'] }}/" rel="nofollow" target="_blank"> #}
            <a  data-pushstate="1" data-target="#product-modal" data-remote="false" data-id="{{ thumb['id'] }}"
                href="{{ BASE_URL }}sku/{{ thumb['id'] }}-{{ thumb['title_url'] }}/" 
                title="{{ thumb['title']|e }}" 
                class="{{ isModalLink }}">   
                
                <span class="product-title center-block">{{ thumb['title'] }}</span>
                <span class="product-price center-block">${{ thumb['price']|number_format(2, '.', '') }}</span>

                
                {% if not thumb['stock'] %}
                   <span class="product-stock in-stock center-block">Stock: 
                       <span aria-hidden="true" class="glyphicon glyphicon-ok-sign"></span>
                                    
                   </span>
                {% else %}   
                   <span class="product-stock no-stock center-block">Stock: 
                                <span aria-hidden="true" class="glyphicon glyphicon-remove-sign"></span>
                                    
                   </span>
                {% endif %}
                
                
                {% if isSimilairThumbs == false %}
                    
                    <div class="row hidden-xs">
                        <div class="product-stars col-xs-5">
                            <span class="star0">
                                <span class="star{{ thumb['stars'] }}"></span>
                            </span>
                        </div>
                    </div>
                    
               {% endif %}
               

               
                  <div class="product-source center-block row hidden-xs">
                        <div class="{{ thumb['logo'] }}"></div>       
                    </div>
                </a>
                    
            {% endblock inner %}
                {# Removed on 23-3-18 -> Test if visitors stay longer
                
                <div class="product-hover-area row col-xs-12">
                    <div class="product-CTA-button">
                        <a  data-pushstate="1" data-target="#product-modal" data-remote="false" data-id="{{ thumb['id'] }}"
                            href="{{ BASE_URL }}sku/{{ thumb['id'] }}-{{ thumb['title_url'] }}/" 
                            title="{{ thumb['title']|e }}" 
                            class="btn btn-default btn-block {{ isModalLink }}">See Details 
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                #}
            </div>
        </div>
    
{% endfor %}

